[user]
#	name = Stephane HERAULT
#	email = stephane.herault@gmail.com
#	signingkey = 69EADC5844A40384
	name = Stéphane HERAULT
	email = stephane.herault@aramisauto.com
	signingkey = 0FF4312EF08651CB

[color]
	status = auto
	diff = auto

[color "status"]
	added = green
	untracked = magenta
	deleted = red

[alias]
	st = status
	up = pull --rebase
	ready = rebase -i @{u}
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	standup = log --since yesterday
	co = checkout
	cl = clone
	ci = commit
	pu = push
	br = branch

[core]
	editor = vim
	fileMode = false
	autocrlf = false
	excludesfile = /Users/stephane/.git_core_excludesfile

[push]
	default = matching

[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

[gpg]
	program = gpg
[commit]
	gpgSign = true
[diff]
	renameLimit = 999999
[rename]
	renameLimit = 999999
